extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
            h1=title 
            h2 
          p 

    section(class="main-content")
      h3 This dashboard is created by the IBM Bluemix PLM team.
      p The fundamental philosophy underlying this dashboard is to derive a better product.  We do this through empowering the people with data-driven analytics.
    
      p
      <a href="mailto:paswani@us.ibm.com?cc=cjspence@us.ibm.com&bcc=pri.aswan@gmail.com&subject=Contact Us" target="_top"><h2><center>Contact Us</h2></center></a>



